*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #F6F6F9;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
  }
.register-button{
  background-color: #0B963D !important;
  color: white !important;
}  
.error {
    border: 1px solid red !important;
}
.error-msg {
    color: red !important;
    font-size: 12px !important;
    margin-top: 5px !important;
}
.redirect-to-login{
  color: black;
  text-decoration: none;
}
.redirect-to-login{
  text-decoration: underline;
}